@tailwind base;
@tailwind components;
@tailwind utilities;
dsfsdsf
.input::before{
  width: 10px;
}
#mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  #mobile-menu.h-full{
   max-height: 1000px;
  }

  .navbar .nav-link{
    @apply text-black hover:bg-primary hover:text-white
  }
  .navbar .nav-link:hover{

  }
